.tag-icon > .d-icon {
  margin-right: 4px;
}

.select-kit .tag-icon > .d-icon {
  color: inherit;
  vertical-align: middle;
}

.tag-no-icon {
  background: var(--primary-medium);
  width: 1.2ch;
  height: 1.2ch;
  display: inline-block;
}
